@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* reset */
* {margin:0; padding:0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
body {font-size: 14px '돋움',doyum, sans-serif; color:#333;}
input, select, button {border: none;}
/* common */
.clearFix::after {
  content:'';
  display: block;
  clear: both;
}

body {font-family: "Noto Sans KR", serif; letter-spacing: 1.3px; background-color: #fff6fd;}

/* homeBtn */
.HomeBtn {position: absolute; z-index: 9999; width: 80px; height: 40px; left: 20%; top: 5%; border: none; padding: 5px; border-radius: 10px; background-color: #B2A5FF;}
.HomeBtn a {width: 100px; height: 40px; font-family: "Noto Sans KR", serif; border-bottom: none; color: #fff;}
/* --------------header--------------- */
header {text-align: center; width: 100%;}
header h1 {
  height: 80px;
  padding: 10px 0; 
  margin-bottom: 60px;
  line-height: 100px;
  background: rgba(255,255,255,0.3);
  border-bottom: 1px dashed #97010E; 
}

header h1 a {
  color:#F34C3F; 
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-weight: 700;
  font-size: 30px;
}

#container {
  width: 450px; margin: 0 auto; 
  padding:20px; 
  background: rgba(253, 162, 156, 0.8);
  box-shadow: 2px 2px 10px #8c8b8b;
  border-radius: 50px;
}

#container #straw3 {padding-right:5px;}
#container h1 {padding-bottom:30px; font-size: 25px; letter-spacing: 4px; text-align: center; color:#575a57; font-family: "Poor Story", system-ui; font-weight: 600;}

#container input {width: 450px; height: 40px; margin: 5px 0 20px; padding: 0 10px; box-sizing: border-box;}
#container select#s1, .p1 {width: 450px; height: 40px; margin-top: 5px; padding: 5px 10px; box-sizing: border-box;}
#container p {font-weight: bold;}

#container .input1 {position: relative;}
#container .input2 {position: relative; margin-bottom: 30px;}
#container .input1 .icon1 {position: absolute; top:15px; right:10px; opacity: 0.6;}
#container .input2 .icon2 {position: absolute; top:15px; right:10px; opacity: 0.6;}
#userId::placeholder {text-align: right;}

#container #year {width: 30%;}
#container #month { height: 40px; width: 31.3%; margin: 0 8px}
#container #date { width: 31.3%;}
#container #ymd {width: 450px; margin: 0 auto;}
#container .i {padding: 0 5px; box-sizing: border-box;}
#container .i:last-child {margin-right: 0;}

#container #s1 {margin: 5px 0 20px;}
#container p #m {color:#8a8888; margin-top: 10px;}
#container #mail1 {float:left; width: 230px; height: 40px; }
#container #mail2 {float:left; width: 30px; padding:10px; text-align: center;}
#container #mail3 {float:right; width: 170px; height: 40px; margin-top: 5px;}

#container input#nwrite1 {width: 300px; }
#container button#nwrite2 {width:130px; height: 40px; margin-left: 13px; border:none; background: #5A6B5D; color:aliceblue; cursor: pointer;}

#container button {width: 450px; height: 50px; margin:20px 0; background: #F34C3F; color:aliceblue; font-size: 15px; border-radius: 80px; cursor: pointer;}
#container button:hover {box-shadow: 2px 2px 4px #524e4e;}

.bottom {text-align: center; margin:30px 0 20px ;}
.bottom a {display: inline-block; padding: 0 10px; margin: 20px 0; border-right: 1px solid #97010E; font-size: 14px;}
.bottom span {font-weight: bold;}

footer { background: rgba(255,255,255,0.4);}
footer p {color:#F34C3F; font-weight: 700;
  border-bottom: 1px dashed #97010E; 
  font-family: "Edu AU VIC WA NT Dots", cursive;
  padding: 5px 0;
}
footer .copyright {height: 100px; text-align: center;}